@charset "UTF-8";

body {
  color: #333;
  font-family: Lato;
}

a {
  display: inline-block;
  text-decoration: none;
}

.inner {
  margin: 0 auto;
  width: 1100px;
}

main {
  padding-top: 70px;
}

img {
  vertical-align: bottom;
}

.title-font {
  font-family: Raleway;
}

/* ヘッダー部分 */
.header-wrapper {
  background: #fff;
  left: 0;
  position: fixed;
  top: 0; 
  width: 100%; 
  z-index:100;
}

.header-wrapper a {
  transition: 0.3s all;
}

.header-container {
  display: flex;
  padding: 15px 0;
  justify-content: space-between;
}

.bolt-icon {
  font-size: 40px; 
}

.contact {
  background: #74cfae;
  color: #fff;
  display: inline;
  font-size: 12px; 
  padding: 14px 12px;
}

.bar-menu {
  border: 1px solid #ddd;
  border-radius: 4px;
  display: none;
  height: 20px; 
  padding: 10px;
  position: relative;
  width: 30px; 
}

.bar-menu > span {
  background-color: #ddd;
  display: inline-block;
  height: 3px;
  position: absolute;
  width: 60%;
}

.bar-menu span:first-child {
  top: 6; 
}

.bar-menu span:nth-child(2) {
  top: 20px; 
}

.bar-menu span:last-child {
  top: 30px; 
}

/* ヘッダー部分 */

/* メイン部分 */
.theme-wrapper {
  background: #f2f2f2;
  width: 100%; 
}

.theme-container {
  padding: 250px 0;
}

.theme-title {
  color: #74cfae;
  font-size: 90px; 
  font-weight: 700;
  text-align: center; 
}

.theme-text {
  color: #c0c0c0; 
  font-size: 30px;
  margin-top: 20px;
  text-align: center; 
}

.can-do-wrapper {
  background: #74cfae;
  width: 100%; 
}

.can-do-container {
  color: #fff; 
  display: flex;
  justify-content: space-around;
  padding-top: 50px;
}

.can-do-section {
  text-align: center;
}

.can-do-heading {
  font-size: 24px;
}

.can-do-text {
  font-size: 20px;
  line-height: 30px;
  margin-top: 35px;
  width: 670px;
}

.work-wrapper {
  background: #f2f2f2;
  width: 100%;
}

.work-container {
  padding: 60px 0 70px;
}

.work-title {
  font-size: 24px;
  text-align: center;
}

.picture-container {
  font-size: 0;
  margin-top: 40px;
}

.work-picture {
  display: inline-block;
  margin: 80px 0 0 100px; 
  opacity: 0.7;
  transition: 0.3s all;
}

.work-picture:nth-child(3n + 1){
  margin-left: 0; 
}

.work-picture:nth-child(-n+3) {
  margin-top: 0;
}

.work-text-container {
  margin-top: 90px;
  text-align: center;
}

.work-text-container a {
  transition: 0.3s all;
}

.work-text {
  display: inline-block;
  line-height: 20px;
  vertical-align: middle;
  width: 460px;
}

.email {
  background: #74cfae;
  color: #fff;
  display: inline-block;
  font-size: 12px; 
  margin-left: 90px;
  padding: 14px 20px;
  vertical-align: middle
}

.skill-wrapper {
  background: #4e4e4e;
  width: 100%;
}

.skill-container {
  padding: 70px 0 100px;
}

.skill-text {
  color: #fff; 
  font-size: 24px;
  text-align: center;
}

.circle-picture-all {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.circle-picture-text {
  text-align: center;
}

.circle-picture-container {
  margin-left: 180px;
}

.circle-picture-container:first-child {
  margin-left: 0;
}

.circle-picture-text {
  color: #fff;
  font-size: 16px;
  margin-top: 15px;
}

.nav-wrapper {
  background: #f2f2f2;
  text-align: center;
  width: 100%;
}

.sns-container {
  padding: 200px 0;
  display: flex;
  justify-content: center; 
}

.sns-icon {
  box-sizing: border-box;
  color: #74cfae;
  font-size: 50px;
  padding: 30px;
  transition: 0.3s;
  width: 185px;
}
/* メイン部分 */

/* フッター部分 */
.footer-wrapper {
  background: #74cfae;
  width: 100%; 
}

.footer-container {
  padding: 20px 0 25px;
  text-align: right;
  width: 1100px;
}

.footer-text {
  color: #fff;
}
/* フッター部分 */

/* hoverでの見た目の変化 */
.header-wrapper a:hover {
  color: #333;
}

.work-text-container a:hover {
  color: #333;
}

.work-picture:hover {
  opacity: 1;
}

.sns-icon:hover {
  background: #fff;
}
/* hoverでの見た目の変化 */

@media screen and (max-width: 1199px) {
  .inner {
    width: 97%;
  }

  .can-do-container {
    display: block;
    padding-bottom: 25px;
  }

  .can-do-picture {
    text-align: center;
  }

  .can-do-heading {
    margin-top: 20px;
  }

  .can-do-text {
    margin: 35px auto 0;
  }

  .picture-container {
    text-align: center;
  }

  .work-picture {
    display: block;
    margin: 0 auto;
  }

  .work-picture:nth-child(3n+1) {
    margin-top: 80px;
  }

  .work-picture:first-child {
    margin-top: 0;
  }

  .work-text-container {
    margin-top: 80px;
  }

  .work-text {
    display: block;
    margin: 0 auto;
    width: 80%;
  }

  .email {
    margin: 40px auto 0;
  }
  
  .circle-picture-all {
    display: block;
    margin-top: 0;
    text-align: center;
  }

  .circle-picture-container {
    margin: 88px auto 0;
  }

  .circle-picture-container:first-child {
    margin-top: 40px;
  }

}

@media screen and (max-width: 767px) {
  .contact {
    display: none;
  }

  .bar-menu {
    display: inline-block;
  }

  .theme-container {
    padding: 160px 0 130px;
  }

  .theme-title {
    font-size: 80px;
    margin: 0 auto;
    width: 40%;
  }

  .theme-text {
    font-size: 30px;
    margin: 20px auto 0;
    width: 50%;
  }

  .can-do-text {
    width: 298px;
  }

  .work-text {
    width: 40%;
  }

  .sns-container {
    display: block;
    padding: 50px 0;
  }

  .sns-icon {
    width: 100%;
    padding: 30px 0;
    font-size: 70px;
  }

}
