@charset "UTF-8";

body {
  color: #333;
  font-family: Lato;
}

a {
  display: inline-block;
  text-decoration: none;
}

.inner {
  margin: 0 auto;
  width: 1100px;
}

main {
  padding-top: 70px;
}

img {
  vertical-align: bottom;
}

/* ヘッダー部分 */
.header-wrapper {
  background: #fff;
  left: 0;
  position: fixed;
  top: 0; 
  width: 100%; 
  z-index:100;
}

.header-wrapper a {
  transition: 0.3s all;
}

.header-container {
  display: flex;
  padding: 15px 0;
  justify-content: space-between;
}

.bolt-icon {
  font-size: 40px; 
}

.contact {
  background: #74cfae;
  color: #FFF;
  display: inline;
  font-size: 12px; 
  padding: 14px 12px;
}
/* ヘッダー部分 */

/* メイン部分 */
.theme-wrapper {
  background: #f2f2f2;
  width: 100%; 
}

.theme-container {
  padding: 250px 0;
}

.theme-title {
  color: #74cfae;
  font-family: Raleway;
  font-size: 90px; 
  font-weight: 700;
  text-align: center; 
}

.theme-text {
  color: #c0c0c0; 
  font-size: 30px;
  margin-top: 20px;
  text-align: center; 
}

.can-do-wrapper {
  background: #74cfae;
  width: 100%; 
}

.can-do-container {
  color: white; 
  display: flex;
  justify-content: space-around;
  padding-top: 50px;
}

.can-do-section {
  text-align: center;
}

.title-font {
  font-family: Raleway;
  font-size: 24px;
}

.can-do-text {
  font-size: 20px;
  line-height: 30px;
  margin-top: 35px;
  width: 670px;
}

.work-wrapper {
  background: #f2f2f2;
  width: 100%;
}

.work-container {
  padding: 60px 0 70px;
}

.work-title {
  text-align: center;
}

.picture-container {
  font-size: 0;
  margin-top: 40px;
}

.work-picture {
  display: inline-block;
  margin: 80px 0 0 100px; 
  opacity: 0.7;
  transition: 0.3s all;
}

.work-picture:nth-child(3n + 1){
  margin-left: 0; 
}

.work-picture:nth-child(-n+3) {
  margin-top: 0;
}

.work-text-container {
  margin-top: 90px;
  text-align: center;
}

.work-text-container a {
  transition: 0.3s all;
}

.work-text {
  display: inline-block;
  line-height: 20px;
  vertical-align: middle;
  width: 460px;
}

.email {
  background: #74cfae;
  color: white;
  display: inline-block;
  font-size: 12px; 
  margin-left: 90px;
  padding: 14px 20px;
  vertical-align: middle
}

.skill-wrapper {
  background: #4e4e4e;
  width: 100%;
}

.skill-container {
  padding: 70px 0 100px;
}

.skill-text {
  color: white; 
  font-size: 24px;
  text-align: center;
}

.circle-picture-all {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.circle-picture-text {
  text-align: center;
}

.circle-picture-container {
  margin-left: 180px;
}

.circle-picture-container:first-child {
  margin-left: 0;
}

.circle-picture-text {
  color: white;
  font-size: 16px;
  margin-top: 15px;
}

.nav-wrapper {
  background: #f2f2f2;
  text-align: center;
  width: 100%;
}

.sns-container {
  padding: 200px 0;
  display: flex;
  justify-content: center; 
}

.sns-icon {
  box-sizing: border-box;
  color: #74cfae;
  font-size: 50px;
  padding: 30px;
  transition: 0.3s;
  width: 185px;
}
/* メイン部分 */

/* フッター部分 */
.footer-wrapper {
  background: #74cfae;
  width: 100%; 
}

.footer-container {
  padding: 20px 0 25px;
  text-align: right;
  width: 1100px;
}

.footer-text {
  color: white;
}
/* フッター部分 */

/* hoverでの見た目の変化 */
.header-wrapper a:hover {
  color: #333;
}

.work-text-container a:hover {
  color: #333;
}

.work-picture:hover {
  opacity: 1;
}

.sns-icon:hover {
  background: white;
}
/* hoverでの見た目の変化 */

@media screen and (max-width: 1199px) {
  .inner {
    width: 97%;
  }
}

@media screen and (max-width: 767px) {


}
